body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.timeblock {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.save {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.save i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Added styles for dark mode */
.darkmodebody {
  background-color: #222127;
  color: #FDF0D5;
}

.darkmodehead {
  background-color: #222127;
  color: #FDF0D5;
  border-bottom: 10px solid #FDF0D5;;
}

.darkmodehour {
  background-color: #222127;
  color: #FDF0D5;
  border-top: 1px dashed #FDF0D5;
  border-right: 1px solid #FDF0D5
}

.darkmoderow {
  border-top: 1px solid #222127;
}

.darkpast {
  color: black;
}

.darkpresent {
  color: black;
}

.darkfuture {
  color: black;
}

.darksave {
  border-left: 1px solid #222127;
  color: black;
}

/* Stylized buttons */
#toggle {
  background-color: rgb(255, 170, 117);
  border: solid 3px rgb(240, 111, 5);
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#clear {
  background-color: rgb(220, 167, 255);
  border: solid 3px rgb(103, 2, 158);
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}